.about {
    padding: 70px 70px;

    &__article {
        max-width: 700px;
        text-align: justify;
        line-height: 27px;
        padding: 50px;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }

    &__content {
        &--special {
            text-align: center;
            font-weight: bold;
            margin: 40px 0;
        }
    }

    &__header {
        font-size: 45px;
        text-align: center;
    }
}