.achievements {
  padding: 150px 0 120px 0;
  background: url(../assets/img/achievement.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;

  &__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    z-index: 1;
    max-width: 1600px;
    @media (max-width: 1120px) {
      max-width: 839px;
    }
  }
}
.achievements::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 50%;
  z-index: -1;
}
.div {
  width: 200px;
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;

  &__header {
    font-size: 36px;
    margin: 15px 0 12px 0;
    text-align: center;
    white-space: nowrap;
  }
  &__paragraph {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}
