.home {
    background: url(../assets/img/DJI_0313.png);
    background-size: cover;

    height: 100vh;
    background-position: center;

    &__header {
        color: white;
        max-width: 42%;
        font-size: 27px;
        padding: 100px 0 0 100px;
        margin: 0;

    }

    &__paragraph {
        color: white;
        max-width: 42%;
        font-size: 27px;
        padding: 20px 0 0 100px;
        line-height: 40px;

    }
}