.home {
    background: url(../assets/img/DJI_0313.png);
    background-size: cover;
    height: 100vh;
    background-position: center;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 1600px;


    }

    &__header {
        color: white;
        font-size: 27px;
        padding: 100px 0 0 55px;
        margin: 0;
        text-align: left;
        width: 603px;

        @media (max-width: 1024px) {
            font-size: 24px;
            width: 566px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
            width: 467px;
        }
    }


    &__paragraph {
        color: white;
        font-size: 27px;
        padding-left: 55px;
        line-height: 40px;
        width: 517px;
        text-align: left;

        @media (max-width: 768px) {
            font-size: 22px;
            width: 474px;
        }

    }
}