.nav {
    position: fixed;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__bianik {
        text-decoration: none;
        font-size: 58px;
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        margin-top: 2px;
        margin-left: 100px;

        @media (max-width: 1024px) {
            margin-left: 50px;
        }
    }

    &__box {
        display: inline-block;
        display: flex;
        align-items: center;
        margin-right: 170px;

        @media (max-width: 1024px) {
            margin-right: 50px;
        }


        &--home {
            text-decoration: none;
            margin-right: 20px;
            color: white;
            font-size: 30px;
            display: none;
        }

        &--home:hover {
            color: #ccc;
        }

        &--about {
            text-decoration: none;
            margin-right: 20px;
            color: white;
            font-size: 30px;
        }

        &--about:hover {
            color: #ccc;
        }

        &--offer {
            text-decoration: none;
            margin-right: 20px;
            color: white;
            font-size: 30px;
        }

        &--offer:hover {
            color: #ccc;
        }

        &--contact {
            text-decoration: none;
            color: white;
            font-size: 30px;
        }

        &--contact:hover {
            color: #ccc;
        }
    }
}