@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "modules/nav";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.about {
  padding: 70px 70px;

  &__article {
    max-width: 700px;
    text-align: justify;
    line-height: 27px;
  }

  &__content {
    &--special {
      text-align: center;
      font-weight: bold;
      margin: 40px 0;
    }
  }

  &__header {
    font-size: 30px;
    text-align: center;
  }
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;

}

.button {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  transition: transform 400ms ease-in;
  opacity: 1;

  &__text {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
}

.button:hover {
  transform: scale(1.1);
  opacity: 0.7;

}

.box {
  display: flex;
  padding-top: 50px;

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbeaf7;
  padding: 120px 0px;

  &__artcile {}

  &__header {
    font-size: 40px;
  }

  &__addres {
    font-size: 27px;
    font-weight: normal;

  }

  &__addres::before {
    content: url(../assets/icons/location.svg);
    margin-right: 10px;
  }

  &__phone {
    font-size: 27px;
    font-weight: normal;
  }

  &__phone::before {
    content: url(../assets/icons/phone-call.svg);
    margin-right: 10px;
  }

  &__mail {
    font-size: 27px;
    font-weight: normal;
  }

  &__mail::before {
    content: url(../assets/icons/mail.svg);
    margin-right: 10px;
  }
}

footer {
  width: 100%;
  color: white;
  background-color: #000;
  text-align: center;
  padding: 70px 70px;
}


.home {
  background: url(../assets/img/DJI_0313.png);
  background-size: cover;

  height: 100vh;
  background-position: center;

  &__header {
    color: white;
    max-width: 42%;
    font-family: 'Crimson Text', serif;
    font-size: 27px;
    padding: 100px 0 0 100px;
    margin: 0;
  }

  &__paragraph {
    color: white;
    max-width: 42%;
    font-size: 27px;
    padding: 20px 0 0 100px;
  }
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}